*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'inter';
    font-size: 1rem;
    color:#212529;
}


.navigation-bar{
    /* background-color: aquamarine; */
    height: 5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    width: 0.2rem;
    margin-left: 2rem;
}

.nav-urls{
display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-urls:last-child{

 /* gap:0.1rem; */
}



.url-fonts{
    font-size: 1.0rem; 
    font-weight: 500;
    text-decoration: none;
    color:#212529;
}
.url-fonts:hover{
    text-decoration: underline;
}

.url-button{
    font-size:1.0rem;
    font-weight: 500;
    text-decoration: none;
    color:#212529;

    background-color: red;

    padding: 0.65rem 0.75rem;
    border-radius: 3rem;
}

.login-text{
    color:#f8f9fa;
}

.url-button:last-child{
    /*sign up button*/
    margin-right: 1.5rem;
    background-color: #f1f3f5
}

.url-button:nth-last-child(2){
    /*logoin button*/
    margin-right:-1.5rem;
    
    
}
.url-button:nth-last-child(2):hover{
    background-color: #c92a2a;
}
.url-button:last-child:hover{
    background-color: #dee2e6
}

.url-button-container{
    display: flex;
}


.main-header{
    height:82vh;
    position: relative;
    /* background-color: aquamarine; */
}

.main-heading-primary{
    position: absolute;
    font-size: 3rem;
    left:50%;
    top:32%;
    transform:translate(-50%,-50%);
    font-size:3.4rem;
    text-align: center;
}

.main-heading{
    display: block;
}

.main-heading-1{
    display: block;

    /* animation-name: text-animation;  */
	/* animation-duration: 4s; total x-sec from animation */
	/* animation-delay: 0s; start aniamtion after x-sec */
	/* animation-iteration-count: 100; play x times */
	/* animation-timing-function: ease-out; cubic-bezier(custom) */
}

@keyframes text-animation {
    0%{
		opacity: 1;
		transform: translateY(0px);
		/* transform: rotate(120deg)*/
	}


	100%{
		opacity: 0;
		transform: translateY(-20px);
	}
    
}